@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
.App {
  text-align: center;
}
.navbar{
  padding: 0;
}
.navbar_Brand{
  line-height: 60px;
  font-size: 28px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.custom_navlink{

  @media(min-width: 990px){
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 40px;
    color: black;
  }
  cursor: pointer;
  color: white;
  margin-left: 12px;
  text-align: center;
  font-size: 14px;

  span{
    text-align: center;
    font-family: Proxima Nova;
    font-weight: 600;
    line-height: 17.05px;


    @media(max-width:990px){
      &:hover{
        color: aquamarine;
      }
    }
    @media(min-width: 989px){
      padding: 20px;
    }
  }
}
.link_1{
  @media(min-width: 990px){
    width: 257px;
  }
  width: 100%;
}
.link_2{
  @media(min-width: 990px){
    width: 205px;
  }
  width: 100%;
}
.bg-dark {
  background-color: #101010 !important;
}